In [25]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.model_selection import GridSearchCV

In [26]:
import matplotlib.pyplot as plt

In [27]:
def convert_monetary(value):
    if not value or value.strip() == '':
        return np.nan

    if value == '€0':
        return 0

    multiplier = 1
    if 'M' in value:
        multiplier = 1e6
    elif 'B' in value:
        multiplier = 1e9

    numeric_value = float(value[1:-1]) * multiplier

    return numeric_value

In [28]:
def label_result(home_goals, away_goals):
    if home_goals > away_goals:
        return 'Home Win'
    elif home_goals < away_goals:
        return 'Away Win'
    else:
        return 'Draw'

In [29]:
df = pd.read_csv('../data/all_games_stats_with_team_ratings.csv')

In [30]:
df['Result'] = df.apply(lambda row: label_result(row['Home_Goals'], row['Away_Goals']), axis=1)

In [31]:
df.loc[:, ['Season', 'Home_Team_Name', 'Away_Team_Name', 'Home_Goals', 'Away_Goals', 'Result']].head()

,Season,Home_Team_Name,Away_Team_Name,Home_Goals,Away_Goals,Result
0,2015,Aston Villa,Everton,1,3,Away Win
1,2015,AFC Bournemouth,Southampton,2,0,Home Win
2,2015,Leicester City,West Bromwich Albion,2,2,Draw
3,2015,Norwich City,Chelsea,1,2,Away Win
4,2015,Sunderland,Crystal Palace,2,2,Draw

In [32]:
df.drop(['Season', 'Home_Goals', 'Away_Goals', 'Home_shots_on_goal', 'Home_shots_outsidebox', 'Home_shots_off_goal', 'Home_total_shots', 'Home_blocked_shots', 'Home_shots_insidebox', 'Home_corner_kicks', 'Home_ball_possession', 'Home_yellow_cards', 'Home_goalkeeper_saves', 'Home_total_passes', 'Home_passes_accurate', 'Home_passes_%', 'Away_shots_on_goal', 'Away_shots_off_goal', 'Away_total_shots', 'Away_blocked_shots', 'Away_shots_insidebox', 'Away_shots_outsidebox', 'Away_corner_kicks', 'Away_offsides', 'Away_ball_possession', 'Away_yellow_cards', 'Away_goalkeeper_saves', 'Away_total_passes', 'Away_passes_accurate', 'Away_passes_%', 'Home_offsides', 'Away_red_cards', 'Home_red_cards', 'Home_fouls', 'Away_fouls', 'Home_expected_goals', 'Away_expected_goals'], axis=1, inplace=True)

In [33]:
df.columns

Index(['Match_Date', 'Home_Team_Name', 'Away_Team_Name', 'Home_Overall',
       'Home_Attack', 'Home_Midfield', 'Home_Defence', 'Home_Transfer budget',
       'Home_Club worth', 'Home_Speed', 'Home_Dribbling', 'Home_Passing',
       'Home_Positioning', 'Home_Crossing', 'Home_Shooting', 'Home_Aggression',
       'Home_Pressure', 'Home_Team width', 'Home_Defender line',
       'Home_Domestic prestige', 'Home_International prestige', 'Home_Players',
       'Home_Starting XI average age', 'Home_Whole team average age',
       'Away_Overall', 'Away_Attack', 'Away_Midfield', 'Away_Defence',
       'Away_Transfer budget', 'Away_Club worth', 'Away_Speed',
       'Away_Dribbling', 'Away_Passing', 'Away_Positioning', 'Away_Crossing',
       'Away_Shooting', 'Away_Aggression', 'Away_Pressure', 'Away_Team width',
       'Away_Defender line', 'Away_Domestic prestige',
       'Away_International prestige', 'Away_Players',
       'Away_Starting XI average age', 'Away_Whole team average age',
       'Result'],
      dtype='object')

In [34]:
print(df['Match_Date'].unique())

[ 1032016  1052016  1112015  2012016  2022016  2032016  2042016  2052016
  2112015  3012016  3022016  3042016  3102015  4102015  5032016  5122015
  6022016  6032016  6122015  7022016  7052016  7112015  7122015  8052016
  8082015  8112015  9042016  9082015 10042016 10052016 10082015 11052016
 12012016 12032016 12092015 12122015 13012016 13022016 13032016 13042016
 13092015 13122015 14022016 14032016 14082015 14092015 14122015 15052016
 15082015 16012016 16042016 16082015 17012016 17042016 17052016 17082015
 17102015 18012016 18042016 18102015 19032016 19042016 19092015 19102015
 19122015 20032016 20042016 20092015 20122015 21042016 21112015 21122015
 22082015 22112015 23012016 23042016 23082015 23112015 24012016 24042016
 24082015 24102015 25042016 25102015 26092015 26122015 27022016 27092015
 28022016 28092015 28112015 28122015 29082015 29112015 29122015 30042016
 30082015 30122015 31102015  1012017  1022017  1042017  1052017  1102016
  2012017  2042017  2102016  3012017  3122016  4012017  4022017  4032017
  4042017  4122016  5022017  5032017  5042017  5052017  5112016  5122016
  6032017  6052017  6112016  7052017  8032017  8042017  8052017  9042017
 10042017 10052017 10092016  1012018  1032018  1042018  1102017  2012018
  2122017  3012018  3022018  3032018  3122017  4012018  4022018  4032018
  4052018  4112017  5022018  5032018  5052018  5112017  6052018  7042018
  8042018  8052018  9052018  9092017  9122017 10022018 10032018 10052018
 10092017 10122017 11022018 11032018 11082017 11092017 12022018 12032018
 12082017 12122017 13012018 13052018 13082017 13122017 14012018 14042018
 14102017 15012018 15042018 15092017 15102017 16042018 16092017 16102017
 16122017 17032018 17042018 17092017 17122017 18042018 18112017 18122017
 19042018 19082017 19112017 20012018 20082017 20102017 20112017 21012018
 21042018 21082017 21102017 22012018 22042018 22102017 22122017 23042018
 23092017 23122017 24022018 24092017 24112017 25022018 25092017 25112017
 26082017 26112017 26122017 27082017 27122017 28042018 28102017 28112017
 28122017 29042018 29102017 29112017 30012018 30042018 30092017 30102017
 30122017 31012018 31032018 31122017  1012019  1042019  1092018  1102018
  1122018  2012019  2022019  2032019  2042019  2092018  2122018  3012019
  3022019  3032019  3042019  3052019  3112018  4022019  4052019  4112018
  4122018  5042019  5052019  5102018  5112018  5122018  6022019  6042019
  6052019  6102018  7042019  7102018  8042019  8122018  9022019  9032019
  9122018 10022019 10032019 10082018 10112018 10122018 11022019 11082018
 11112018 12012019 12042019 12052019 12082018 13012019 13042019 14012019
 14042019 15042019 15092018 15122018 16032019 16042019 16092018 16122018
 17032019 17092018 18082018 19012019 19082018 20012019 20042019 20082018
 20102018 21042019 21102018 21122018 22022019 22042019 22092018 22102018
 22122018 23022019 23042019 23092018 23122018 24022019 24042019 24112018
 25082018 25112018 26022019 26042019 26082018 26112018 26122018 27022019
 27042019 27082018 27102018 27122018 28042019 28102018 29012019 29092018
 29102018 29122018 30012019 30032019 30092018 30112018 30122018 31032019
  1012020  1022020  1032020  1072020  1092019  1122019  2012020  2022020
  2072020  2112019  3112019  3122019  4072020  4122019  5072020  5102019
  5122019  6072020  6102019  7032020  7072020  7122019  8022020  8032020
  8072020  8112019  8122019  9022020  9032020  9072020  9082019  9112019
  9122019 10012020 10082019 10112019 11012020 11072020 11082019 12012020
 12072020 13072020 14022020 14072020 14092019 14122019 15022020 15072020
 15092019 15122019 16022020 16072020 16092019 16122019 17022020 17062020
 17072020 17082019 18012020 18072020 18082019 19012020 19022020 19062020
 19072020 19082019 19102019 20062020 20072020 20092019 20102019 21012020
 21062020 21072020 21092019 21102019 21122019 22012020 22022020 22062020
 22072020 22092019 22122019 23012020 23022020 23062020 23082019 23112019
 24022020 24062020 24082019 24112019 25062020 25082019 25102019 25112019
 26072020 26102019 26122019 27062020 27102019 27122019 28022020 28062020
 28092019 28122019 29012020 29022020 29062020 29092019 29122019 30062020
 30092019 30112019 31082019  1012021  1032021  1052021  1112020  2012021
  2022021  2032021  2052021  2112020  3012021  3022021  3032021  3042021
  3052021  3102020  4012021  4022021  4032021  4042021  4102020  5042021
  5122020  6022021  6032021  6112020  6122020  7022021  7032021  7052021
  7112020  7122020  8022021  8032021  8052021  8112020  9042021  9052021
 10032021 10042021 10052021 11042021 11052021 11122020 12012021 12032021
 12042021 12052021 12092020 12122020 13012021 13022021 13032021 13052021
 13092020 13122020 14012021 14022021 14032021 14052021 14092020 15022021
 15032021 15052021 15122020 16012021 16042021 16052021 16122020 17012021
 17022021 17042021 17102020 17122020 18012021 18042021 18052021 18102020
 19012021 19022021 19032021 19042021 19052021 19092020 19102020 19122020
 20012021 20022021 20032021 20042021 20092020 20122020 21012021 21022021
 21032021 21042021 21092020 21112020 21122020 22022021 22042021 22112020
 23012021 23022021 23042021 23052021 23102020 23112020 24042021 24102020
 25042021 25102020 26012021 26042021 26092020 26102020 26122020 27012021
 27022021 27092020 27112020 27122020 28012021 28022021 28092020 28112020
 28122020 29112020 29122020 30012021 30042021 30102020 30112020 30122020
 31012021 31102020  1012022  1032022  1052022  1112021  1122021  2012022
  2042022  2052022  2102021  2122021  3012022  3042022  3102021  4042022
  4122021  5022022  5032022  5112021  5122021  6032022  6042022  6112021
  6122021  7032022  7052022  7112021  8022022  8042022  8052022  9022022
  9042022 10022022 10032022 10042022 10052022 10122021 11012022 11052022
 11092021 11122021 12012022 12022022 12032022 12052022 12092021 12122021
 13022022 13032022 13082021 13092021 14012022 14032022 14082021 14122021
 15012022 15022022 15052022 15082021 15122021 16012022 16032022 16042022
 16052022 16102021 16122021 17032022 17042022 17052022 17092021 17102021
 18012022 18032022 18092021 18102021 18122021 19012022 19022022 19032022
 19042022 19052022 19092021 19122021 20022022 20032022 20042022 20112021
 21012022 21042022 21082021 21112021 22012022 22052022 22082021 22102021
 23012022 23022022 23042022 23082021 23102021 24022022 24042022 24102021
 25022022 25042022 25092021 26022022 26092021 26122021 27022022 27092021
 27112021 27122021 28042022 28082021 28112021 28122021 29082021 29122021
 30042022 30102021 30112021 30122021 31102021  1012023  1032023  1042023
  1052023  1092022  1102022  2012023  2042023  2052023  2102022  3012023
  3022023  3042023  3052023  3092022  3102022  4012023  4022023  4032023
  4042023  4052023  4092022  5012023  5022023  5032023  5042023  5082022
  5112022  6032023  6052023  6082022  6112022  7052023  7082022  8022023
  8042023  8052023  8102022  9042023  9102022 10102022 11022023 11032023
 12012023 12022023 12032023 12112022 13012023 13022023 13052023 13082022
 13112022 14012023 14052023 14082022 14102022 15012023 15022023 15032023
 15042023 15052023 15082022 15102022 16042023 16092022 16102022 17032023
 17042023 17092022 18012023 18022023 18032023 18052023 18092022 18102022
 19012023 19022023 19032023 19102022 20052023 20082022 20102022 21012023
 21042023 21052023 21082022 22012023 22042023 22052023 22082022 22102022
 23012023 23042023 23102022 24022023 24052023 24102022 25022023 25042023
 25052023 26022023 26042023 26122022 27042023 27082022 27122022 28052023
 28082022 28122022 29042023 29102022 30042023 30082022 30102022 30122022
 31082022 31122022  1092023  1102023  2092023  2102023  3092023  3102023
  4112023  5112023  6112023  7102023  8102023 11082023 11112023 12082023
 12112023 13082023 14082023 16092023 17092023 18082023 18092023 19082023
 20082023 21082023 21102023 22102023 23092023 23102023 24092023 25082023
 26082023 27082023 27102023 28102023 29102023 30092023]

In [35]:
df['Match_Date'] = df['Match_Date'].astype(str)

df['Month'] = df['Match_Date'].str.extract(r'(\d{1,2})(?=\d{4}$)')

df['Month'] = df['Month'].str.zfill(2)

In [36]:
df['Month'] = pd.to_numeric(df['Month'])

In [37]:
df.drop(['Match_Date'], axis=1, inplace=True)

In [38]:
print(df['Month'].unique())

[ 3  5 11  1  2  4 10 12  8  9  7  6]

In [39]:
df['Home_Transfer budget'].unique()

df['Home_Club worth'].unique()

array(['€0', '€45M', '€525.6M', '€900M', '€780M', '€2.4B', '€2B', '€400M',
       '€2.2B', '€800M', '€560M', '€1.3B', '€650M', '€406.6M', '€3.6B',
       '€1.9B', '€1.8B', '€555.6M', '€14M', '€26M', '€1.4B', '€435M',
       '€2.5B', '€660M', '€1.1B', '€3B', '€525M', '€390M', '€615M',
       '€120M', '€540M', '€2.3B', '€635M', '€80M', '€440M', '€575M',
       '€2.8B', '€983M', '€90M', '€981.5M', '€640M', '€979M', '€3.5B',
       '€425M', '€15M', '€50M', '€551.3M', '€3.4B', '€383.3M', '€418.5M',
       '€401.6M', '€462M', '€1.7B', '€200M', '€332.5M', '€388.5M',
       '€2.7B', '€180M', '€378.5M', '€2.1B', '€441M', '€430.5M',
       '€682.5M', '€415M', '€533.3M', '€568.5M', '€455.5M', '€100M',
       '€3.3B', '€505M', '€552.5M', '€336M', '€65M', '€110M', '€410.5M',
       '€562.5M', '€565M', '€185.5M', '€411.5M', '€572.5M', '€420.5M',
       '€416.5M', '€107.5M', '€172.5M', '€220.5M', '€178.5M', '€2.9B',
       '€4.6B', '€169.5M', '€228.5M', '€741.5M', '€684.5M', '€730.5M',
       '€2.6B', '€4.8B', '€993.6M', '€215.5M', '€695.5M'], dtype=object)

In [40]:
df['Home_Transfer budget'] = df['Home_Transfer budget'].apply(convert_monetary)
df['Home_Club worth'] = df['Home_Club worth'].apply(convert_monetary)

In [41]:
df.head()

,Home_Team_Name,Away_Team_Name,Home_Overall,Home_Attack,Home_Midfield,Home_Defence,Home_Transfer budget,Home_Club worth,Home_Speed,Home_Dribbling,...,Away_Pressure,Away_Team width,Away_Defender line,Away_Domestic prestige,Away_International prestige,Away_Players,Away_Starting XI average age,Away_Whole team average age,Result,Month
0,Aston Villa,Everton,75,72,74,74,11500000.0,0.0,Balanced,Normal,...,Medium,Normal,Cover,14,16,33,26.36,24.97,Away Win,3
1,AFC Bournemouth,Southampton,69,69,69,68,3000000.0,0.0,Balanced,Normal,...,Medium,Normal,Cover,11,13,33,26.18,22.82,Home Win,3
2,Leicester City,West Bromwich Albion,72,71,72,68,9500000.0,0.0,Balanced,Normal,...,Medium,Normal,Cover,11,14,33,27.91,24.36,Draw,3
3,Norwich City,Chelsea,72,73,72,71,6500000.0,0.0,Balanced,Normal,...,Medium,Normal,Cover,20,20,33,25.82,22.48,Away Win,3
4,Sunderland,Crystal Palace,74,76,73,72,16000000.0,0.0,Balanced,Normal,...,Medium,Normal,Cover,10,11,33,27.36,25.45,Draw,3

In [42]:
columns_to_label_encode = ['Home_Team_Name', 'Away_Team_Name', 'Home_Speed', 'Home_Dribbling', 'Home_Passing', 'Home_Positioning', 'Home_Crossing', 'Home_Shooting', 'Home_Aggression', 'Home_Pressure', 'Home_Team width', 'Home_Defender line', 'Away_Transfer budget', 'Away_Club worth', 'Away_Speed', 'Away_Dribbling', 'Away_Passing', 'Away_Positioning', 'Away_Crossing', 'Away_Shooting', 'Away_Aggression', 'Away_Pressure', 'Away_Team width', 'Away_Defender line']
label_encoder = LabelEncoder()
for column in columns_to_label_encode:
    df[column] = label_encoder.fit_transform(df[column].astype(str))

In [43]:
X = df.drop(['Result'], axis=1)
y_labels = df['Result']

In [44]:
class_mapping = {'Away Win': 0, 'Draw': 1, 'Home Win': 2}
y = y_labels.map(class_mapping)

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
model = xgb.XGBClassifier(objective='multi:softmax', num_class=3)

model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None, num_class=3,
              num_parallel_tree=None, ...)

In [47]:
param_grid = {
    'max_depth': [3, 5],
    'learning_rate': [0.01, 0.1],
    'n_estimators': [50, 100],
    'subsample': [0.8, 1.0],
    'colsample_bytree': [0.8, 1.0],
    'min_child_weight': [1, 5],
    'gamma': [0, 0.2],
}

In [48]:
grid_search = GridSearchCV(model, param_grid, scoring='accuracy', cv=5, n_jobs=-1)

grid_search.fit(X_train, y_train)

print("Best Parameters: ", grid_search.best_params_)
print("Best Accuracy: {:.2f}%".format(grid_search.best_score_ * 100))

Best Parameters:  {'colsample_bytree': 1.0, 'gamma': 0.2, 'learning_rate': 0.1, 'max_depth': 3, 'min_child_weight': 5, 'n_estimators': 50, 'subsample': 1.0}
Best Accuracy: 52.77%